<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<center><form action="/" method="POST">
    <table>
        <tr><h2>Authorization</h2></tr>
        <tr><h3>Login:</h3></tr>
        <tr><input type="text" name="name"></tr>
        <tr><h3>Password:</h3></tr>
        <tr><input type="password" name="password"></tr>
        <tr><td><input type="submit">&nbsp;<input type="reset"></tr>
    </table>
    <br>
    <br>
    <a href="http://localhost:8080/reg">Is this your first visit?</a>
</form></center>

</body>
</html>