<!DOCTYPE html>

<html>
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<center><form action="/reg" method="POST">
    <table>
        <tr><h2>Registration</h2></tr>
        <tr><h3>Username:</h3></tr>
        <tr><input type="text" name="username"></tr>
        <tr><h3>Password:</h3></tr>
        <tr><input type="password" name="password"></tr>
        <tr><h3>Confirm password:</h3></tr>
        <tr><input type="password" name="passwordRepeat"></tr>
        <tr><td><input type="submit">&nbsp;<input type="reset"></tr>
    </table>
</form></center>
</body>
</html>